<footer>
		<div class="container">
				<div class="row">
						<div class="col-md-12">
								&copy; By : <a href=""> 2017 Manoj </a>
						</div>

				</div>
		</div>
</footer>
<!-- FOOTER SECTION END-->
<!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY SCRIPTS -->
<script src="../javascripts/jquery-1.11.1.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="../javascripts/bootstrap.js"></script>
<script src="../javascripts/client.js"></script>
</body>
</html>
