<% include partials/header.ejs %>

<div class="col-md-12 jumbotron">
    <div class="alert alert-danger">
        Please click on login or home button to manage the clients.
    </div>
</div>
<% include partials/footer.ejs %>