<% include ./partials/header.ejs %>
<div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Client/Projects Manager</h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        This website gives you access to manage your clients/projects for free.
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-offset-1 col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-one">
                        <i  class="fa fa-list-alt dashboard-div-icon" ></i>
                        <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
  </div>
</div>
                         <h5>Register</h5>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-two">
                        <i  class="fa fa-edit dashboard-div-icon" ></i>
                        <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
  </div>

</div>
                         <h5>Login </h5>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-three">
                        <i  class="fa fa-cogs dashboard-div-icon" ></i>
                        <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
  </div>

</div>
                         <h5>Manage</h5>
                    </div>
                </div>

</div>
  <div class="col-md-offset-2 col-md-4">
    <h2>Register Here</h2>
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
  </div>
  <div class="col-md-4">
    <h2>Login Here</h2>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
  </div>
</div>
</div>

<% include ./partials/footer.ejs %>
