<% include ./partials/header.ejs %>
<div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line text-center">Please Login To Enter </h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <br />
                    <%if (messages.length > 0) {%>
                    <div class="alert alert-danger"><%= messages %></div>
                    <%}
                    else {%>
                    <div class="alert alert-info text-center">Login using the below form</div>
                    <% } %>
                    <form method="post">
                    <label for="username" class="col-sm-2 control-label">Email: </label>
                    <input name="username" id="username" class="form-control"  type="email" required/>
                    <label for="password" class="col-sm-2 control-label">Password: </label>
                    <input name="password" id="password" class="form-control"  type="password" required />
                    <hr />
                    <button class="btn btn-info btn-lg col-sm-offset-2" style="margin-bottom:50px">Login  <span class="glyphicon glyphicon-user"></span> </button>

                    </form>
                </div>
							</div>
</div>













<% include ./partials/footer.ejs %>
