<% include ../partials/header.ejs %>

<div class="jumbotron">
  <div class="text-center">
    <h1><%= title %></h1>
    <p>Manage Parents and Staff </p>
      <div class="col-md-offset-2 col-md-4">
        <a href="/staff" class="btn btn-primary btn-lg">Staff</a>
      </div>
      <div class="col-md-4">
        <a href="/myclients" class="btn btn-success btn-lg">Parents</a>
      </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
